@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

body{
    background: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    transition: ease 0.5s;
}

p{
    font-size: 0.90rem;
}

.welcome{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.welcome .welcome-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    width: 80%;
    max-width: 500px;
    margin: 0 20px;
    background: #FFFFFF;
    border-radius: 10px;
    transition: ease 0.5;
}

.welcome-card h2{
    font-size: 1.2rem;
}

.welcome-card button{
    outline: none;
    color: #FFFFFF;
    background: #9723C9;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 15px 10px;
    margin: 40px 0 0 0;
    width: 50%;
    font-weight: 600;
    transition: ease 0.5s;
}

.welcome-card button:hover{
    background: #A388EE;
}

/*
.dashboard{
    padding: 20px;
}

.dashboard h1{
    margin-bottom: 20px;
}
*/
.dashboard .list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F5f5f5;
    box-shadow: 5px 5px 0 #000000;
    padding: 50px;
    margin: 0 10px 20px 10px;
    border-radius: 10px;
    border: 2px solid #000000;
}

.dashboard .list a{
    font-size: 0.90rem;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 0 #000000;
    border: 2px solid #000000;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: ease 0.5s;
}

.list a:nth-child(1){
    background: #7FBC8C;
}

.list a:nth-child(2){
    background: linear-gradient(90deg, rgba(64,93,230,1) 0%, rgba(131,58,180,1) 50%, rgba(225,48,108,1) 100%);
    background-size: 200%;
}

.list a:nth-child(3){
    background: #FF69B4;
}

.list a:nth-child(4){
    background: #69D2E7;
}

.list a:nth-child(5){
    background: #E3A018;
}

.list a:nth-child(6){
    background: #00995E;
}

.list a:nth-child(7){
    background: #9723C9;
}

.list a:nth-child(1):hover{
    color: #000000;
    box-shadow: 2px 2px 0 #000000;
    background: #B5D2AD;
}

.list a:nth-child(2):hover{
    box-shadow: 2px 2px 0 #000000;
    animation: Gradient-ania 0.5s forwards;
}

@keyframes Gradient-ania {
    0% {
        background-position: left;
    } 100% {
        background-position: right;
    }
}

.list a:nth-child(3):hover{
    color: #000000;
    box-shadow: 2px 2px 0 #000000;
    background: #FCDFFF;
}

.list a:nth-child(4):hover{
    color: #000000;
    box-shadow: 2px 2px 0 #000000;
    background: #DAF5F0;
}

.list a:nth-child(5):hover{
    color: #000000;
    box-shadow: 2px 2px 0 #000000;
    background: #FDFD96; 
}

.list a:nth-child(6):hover{
    color: #000000;
    box-shadow: 2px 2px 0 #000000;
    background: #C6E8DB;
}

.list a:nth-child(7):hover{
    color: #000000;
    box-shadow: 2px 2px 0 #000000;
    background: #E3DFF2;
}

.footer{
    position: fixed;
    bottom: 0;
    margin: 0 0 20px 0;
}